{% extends "main.html" %}

{% block content %}

<style>
    .containerEmailSent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 65vh;
    }

    .emailTxtSent {
        margin: 0 0 3rem 0;
    }
</style>

<div class="containerEmailSent">
    <h2>Awesome 😉</h2>
    <p class="emailTxtSent" >Check your email inbox, we sent you an email contain a recovery link</p>
    <a class="btn btn--sub btn--lg" href="{% url 'login' %}" > Back to Login </a>
</div>

{% endblock content %}